body{
  margin: 0px;
  background-color: #fafafa;
  box-sizing: border-box;
}

.jumbotron{
  color: White;
  background-color: #000;
  text-align: center;
  padding-bottom: 30px;
  margin: 0px;
}
.navbar {
  width: 100%;
  justify-content: center;
  background-color: #000;
  color: White;
}
.navbar a{
  color: inherit;
}

.row {
  margin-top: 10px;
}

.profile {
  align-items: center;
}
.profilepic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: black solid 1px;

}


.education {
  border: 1px solid black;
  margin-top: 10px;
  background-color: white;
}

.work {
border: 1px solid black;
background-color: white;
}
.outdoors {
border: 1px solid black;
justify-content: center;
background-color: white;
}
.outdoor-content{
  justify-content: center;
  text-align: center;
  background-color: white;
}
.carousel-inner {
  height: 50vh;
  Width: 100%;
}

.hobbies {
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}

.hobbies div {
  text-align: center;

}
.hobbies img{
  width: 30vw;
  height: 300px;
}


@media (max-width: 991px)  {
  .profilepic{
    width: 100%;
  }
}
